@import url("colors.css");

.App {
    text-align: center;
    background-color: var(--main-bg-color);
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 30vmin;
    padding: 30px;
    pointer-events: none;
}

.App-footer {
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(6px + 1vmin);
    color: white;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }

}

.App-animation-color-cycle {
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-name: colorcycle;
    animation-duration: 10s;
    text-decoration: none;
}

@keyframes colorcycle {
    0% {
        color: var(--cycle-first-color);
    }
    25% {
        color: var(--cycle-second-color);
    }
    50% {
        color: var(--cycle-third-color);
    }
    75% {
        color: var(--cycle-fourth-color);
    }
    100% {
        color: var(--cycle-first-color);
    }
}

