.Footer {
  padding-top: 50px;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  color: white;
  letter-spacing: 2px;
}

.Footer-link {
  color: #f9cf35;
  text-decoration: none;
}

.Inline {
  display: inline;
}

.Footer-copyright {
  padding: 30px;
  font-size: 11px;
}

.Footer-socials {
  padding: 30px;
}

/* desktop-x-small */

@media all and (min-width: 320px) and (max-width: 374px) {
  .Footer-socials {
    padding: 20px;
  }
  .Footer-reach-text {
    display: none;
  }
  .Footer-mail-icon {
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: colorcycle;
    animation-duration: 10s;
    display: flex;
    width: 75%;
    padding: 10%;
    vertical-align: middle;
  }
}

/* desktop-small */

@media all and (min-width: 375px) and (max-width: 475px) {
  .Footer-mail {
    padding-top: 20px;
  }
  .Footer-mail-icon {
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: colorcycle;
    animation-duration: 10s;
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
  }
}

@media all and (min-width: 476px) and (max-width: 768px) {
  .Footer-mail {
    padding-top: 20px;
  }
  .Footer-mail-icon {
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: colorcycle;
    animation-duration: 10s;
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
  }
}

@media all and (min-width: 769px) {
  .Footer-mail {
    padding-top: 20px;
  }
  .Footer-mail-icon {
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: colorcycle;
    animation-duration: 10s;
    padding: 15px;
    display: inline-block;
    vertical-align: middle;
  }
}

@keyframes colorcycle {
  0% {
    fill: #38844B;
  }
  25% {
    fill: #1E5ADF;
  }
  50% {
    fill: #C63D2D;
  }
  75% {
    fill: #F4AA3C;
  }
  100% {
    fill: #38844B;
  }
}