.NavBar {
    z-index: 100;
    width: 100%;
    height: 88px;
    flex-direction: column;
    display: -ms-flexbox;
    background: inherit;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    /* align horizontal */
    -ms-flex-align: center;
    align-items: center;
    /* align vertical */
    justify-content: center;
    color: rgb(63, 63, 63);
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    line-height: 1em;
}

.NavBar-link {
    margin: 8px;
    padding: 16px;
    text-decoration: none;
    overflow: visible;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.6s cubic-bezier(.25, .8, .25, 1);
}

.NavBar-link:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    color: white;
    height: auto;
}

.NavBar a.NavBar-link:hover, a.NavBar-link:active {
    color: rgb(247, 168, 84);
    text-decoration: none;
}

.NavBar a.NavBar-link:link, a.NavBar-link:visited {
    color: white;
    text-decoration: none;
}