.NavBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh;
    padding-left: 30%;
    padding-right: 30%;
    justify-content: center;
    color: rgb(63, 63, 63);
    min-height: 5vh;
}

.NavBar-link {
    margin: 8px;
    padding: 16px;
    text-decoration: none;
    overflow: visible;
    display: inline-block;
    cursor: pointer;
    border-radius: 360px;
}

.NavBar-link:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    color: white;
    height: auto;
}

.blue-column {
    background-color: blue;
    height: 100px;
}

.green-column {
    background-color: green;
    height: 100px;
}

.NavBar a.NavBar-link:hover, a.NavBar-link:active {
    color: rgb(247, 168, 84);
    text-decoration: none;
}

.NavBar a.NavBar-link:link, a.NavBar-link:visited {
    color: white;
    text-decoration: none;
}