.Work {
  padding: 40px;
  font-size: 14px;
  color: white;
  letter-spacing: 2px;
  text-align: left;
  justify-content: center;
  text-transform: uppercase;
}

.Work-list {
  text-align: justify;
}

.Work-link {
  color: #61dafb;
  text-decoration: none;
}

.p {
  display: list-item;
  font-size: 48px;
  background-color: aliceblue;
}