.Footer {
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(6px + 1vmin);
    color: white;
  }


.Footer-link {
    color: #61dafb;
    text-decoration: none;
  }

.InLine {
    display:inline;
  }